# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
coverage.xml

# Environment variables
.env

# Firebase
firebase-service-account.json

# Node
node_modules/
dist/

# .gitignore
firebase-service-account.json
